20 uzduotis/bin/
20 uzduotis/obj/
21uzduotis/bin/
21uzduotis/obj/
22uzduotis/bin/
22uzduotis/obj/
2pdf99ND3/bin/
2pdf99ND3/obj/
aritmetiks/bin/
aritmetiks/obj/
bandymai/bin/
bandymai/obj/
ClassDemo/bin/
ClassDemo/obj/
classDemo2/bin/
classDemo2/obj/
demo/bin/
demo/obj/
Ivedimai/bin/
Ivedimai/obj/
kintamujuAprasymas/bin/
kintamujuAprasymas/obj/
manoDemo/obj/
masyvuPvz/bin/
masyvuPvz/obj/
namuDarbai23/bin/
namuDarbai23/obj/
paskaitosDarbai/bin/
paskaitosDarbai/obj/
pirmaPrograma/bin/
pirmaPrograma/obj/
salygosSakinys/bin/
salygosSakinys/obj/
salygosUzdaviniai2/bin/
salygosUzdaviniai2/obj/
skaitmenuUzdaviniai/bin/
skaitmenuUzdaviniai/obj/
test/bin/
test/obj/
TestaiNamuDarbai/bin/
TestaiNamuDarbai/obj/
TestIsvedimoBudai/bin/
TestIsvedimoBudai/obj/
tiesiniaiAlgoritmai/obj/
uzduotis1/bin/
uzduotis1/obj/
uzduotis10/bin/
uzduotis10/obj/
uzduotis11/bin/
uzduotis11/obj/
uzduotis12/bin/
uzduotis12/obj/
uzduotis13/bin/
uzduotis13/obj/
uzduotis14/bin/
uzduotis14/obj/
uzduotis15/bin/
uzduotis15/obj/
uzduotis16/bin/
uzduotis16/obj/
uzduotis17/bin/
uzduotis17/obj/
uzduotis18/bin/
uzduotis18/obj/
uzduotis19/bin/
uzduotis19/obj/
uzduotis2/bin/
uzduotis2/obj/
uzduotis23/bin/
uzduotis23/obj/
uzduotis24/bin/
uzduotis24/obj/
uzduotis25/bin/
uzduotis25/obj/
uzduotis26/bin/
uzduotis26/obj/
uzduotis27/bin/
uzduotis27/obj/
uzduotis28/bin/
uzduotis28/obj/
uzduotis29/bin/
uzduotis29/obj/
uzduotis3/bin/
uzduotis3/obj/
uzduotis30/bin/
uzduotis30/obj/
uzduotis4/bin/
uzduotis4/obj/
uzduotis5/bin/
uzduotis5/obj/
uzduotis6/bin/
uzduotis6/obj/
uzduotis7/bin/
uzduotis7/obj/
uzduotis8/bin/
uzduotis8/obj/
uzduotis9/bin/
uzduotis9/obj/
